body{background-color:#ffffff;font-family:Arial,"Microsoft YaHei","宋体";font-size:15px;margin:0px;width:100%;background-color:#f8f8f8;}
h1,h2,h3{margin:5px;}
h2,h3{color:#484848;}
h1{color:#000000;font-size:36px;}
h3{font-size:20px;}
a{color:#0099ff;text-decoration:none;transition:color 0.3s;}
a:hover{color:#bbbbbb;}
hr{border:1px solid #0099ff;}
#header{position:relative;z-index:2;background-color:#0099ff;border-bottom:1px solid #0066dd;padding:10px;height:48px;}
#navi{position:absolute;left:50%;top:0px;height:32px;padding:33px 0px 0px 0px;}
#main{background-color:#eeeeee;margin:0 12%;padding:10px;border-left:1px solid #dddddd;border-right:1px solid #dddddd;min-height:550px;}
#main:after{content:" ";display:table;clear:both;}
#main_left{float:left;width:80%;}
#main_right{float:right;width:20%;}
#main_left,#main_right{margin:0px;padding:0px;}
#footer{color:#ffffff;background-color:#666666;padding:10px;border-top:1px solid #444444;clear:both;}
#footer a{font-size:12px;color:#dddddd;}
#footer a:hover{color:#bbbbbb;}
#editor{padding:2px 1px;margin-top:10px;height:300px;background-color:#ffffff;}
.nmp{margin:0px;}
.box{background-color:#ffffff;padding:10px;margin:5px;border:1px solid #bbbbbb;}
.clearfix:after{content:" ";display:table;clear:both;}
.topic{margin:0px;padding:10px;overflow:hidden;word-wrap:break-word;}
.topic+.topic{border-top:1px solid #f0f0f0;}
.topic:hover{background-color:#fafafa;}
.topic_left{float:left;width:48px;}
.topic_right{position:relative;margin-left:48px;}
.btn{font-family:Arial,"Microsoft YaHei","宋体";font-size:12px;color:#646464;background-color:#dddddd;border:1px solid #aaaaaa;transition:0.1s;}
.btn:hover{border:1px solid #484848;}
.btn:active{background-color:#bbbbbb;}
.txtbox{font-family:Arial,"Microsoft YaHei","宋体";font-size:14px;resize:vertical;border:1px solid #cccccc;outline:none;}
.txtbox:focus{border-color:#0099ff;}
.item,.item_selected{margin-right:10px;padding-left:10px;padding-right:10px;float:left;text-align:center;color:#ffffff;font-size:16px;height:32px;line-height:32px;cursor:pointer;}
.item_selected,.item:hover{border-bottom:3px solid #ffffff;}
.reply{padding:0px;margin:8px;position:relative;/*left:0px;right:0px;top:0px;bottom:0px;*/}